<app-navbar></app-navbar>
<div class="min-h-screen bg-[url('/back.jpg')] bg-cover sm:big-contain  lg:bg-[75%]" >
    

     <div class="max-w-screen-2xl container mx-auto lg:px-20 px-4 flex flex-col lg:flex-row   absolute top-20 " id="dashboard">

      <div class=" lg:w-1/2  w-full text-2xl p "  > 
        <div class="space-y-5">
        <h1 class="text-3xl fond-bold m-11 lg:m-40 lg:mb-20 lg:text-6xl md:text-3xl lg:ml-12">
        Unleash the World of Stories: Your Personalized <span class="text-red-700"> Book Haven </span>
        </h1>
        <p class=" lg:text-2xl  text-base">
          Welcome to Your Book Haven! Discover a curated collection of timeless classics, bestsellers, and hidden gems. Whether you're a fiction enthusiast, a self-help seeker, or an adventure lover, we have something for everyone. Explore, shop, and dive into the world of stories, all in one place!"

        </p>
        </div>
        
        
      </div>
      <div class=" lg:w-1/2 mt-3  w-full  flex justify-center items-center"  >
        <img src="/book1.png" alt="Book" class="max-w-full h-auto object-contain" id="img" >
      </div>
     </div>
  
</div>
<app-recent-added></app-recent-added>
<app-footer></app-footer>
<router-outlet></router-outlet>



