* {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  #login{
    
    background: radial-gradient(circle, rgba(252,181,181,1) 29%, rgba(253,235,210,1) 69%);


  }
/* 
  #border {
    border: rgb(31, 29, 29) solid 1px;
  } */

  #username {
    border: rgb(163, 159, 159) solid 1px
  }
  #password{
   border: rgb(163, 159, 159) solid 1px

  }
  